@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
body {
    background-color: lavender;
    padding: 25px;
    
}

html {
    scroll-behavior: smooth;
}

h3 {
    font-style: oblique;
}

em {
    color: #8c00ff;
}

h1, h2{
    text-align: center;
    font-family: 'Delius';
    
}



.quote {
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    
}



header {
    background-color: #a3bdff;
    border: 5px solid darkblue;
    padding: 15px;
    text-align: center;
}

/* Styling Navbar */


nav{
    width: 400px;
    margin: 0px auto;
    border-bottom: solid 2px black;
    

}

nav ul{
    width: 400px;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
    margin-left: -35px;
    justify-content: space-between;
}


nav ul li{
    list-style: none;
    margin-left: 10px;
    margin-right:10px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Delius';
}

nav ul li a:hover{
    color: white;
}

/* Styling Albums */

.albums ol li{
    margin-bottom: 40px;
    margin-left: 40%;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
}

.Charm {
    color: green;

}

.Immunity {
    color: #FFD259;
}

.Sling {
    color: blue;
}

.albums ul li{
    padding-top: 10px;
   
}

.albums {
    margin-bottom: 50px;
}




/* Styling Favorite Songs */

.fav-song {
    background-color: #a3bdff;
    border: 5px solid darkblue;
    padding-bottom: 20px;
}

.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.albums h4{
    font-size: 20px;
    font-weight: 1000;

}

/* Styling Gallery */


.gallery h2{
    font-size: 3vw;
}


.gallery-pics {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 grey;
    margin-bottom: 25px; 
    padding-top: 10px;
}

.gallery-pics {
    margin: 0 auto;
}

.gallery-pics figcaption{
    text-align: center;
    padding: 10px 20px;
}


.gallery-pics img{
    width: 100%;
}





